* {
    box-sizing: border-box;
}
.masthead{
    width: 100%;
    background: linear-gradient(to bottom,rgba(22,22,22,.1) 0,rgba(22,22,22,.5) 75%,#161616 100%), url(../image/bg-masthead.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    min-height: 62rem;
}
.btn-success{
  padding: 15px 30px;
  background-color: #64a19d;
}
.btn a:hover{
    opacity: 0.5;
}
.btn{
    box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1)!important;
    padding: 1.25rem 2rem;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
}
.mil{
    margin-top: 300px;
}
a {
    background-color: transparent;
}
.ipad{
    max-width: 100vh;
}
#apropos{
    background: linear-gradient(to bottom,#161616 0,rgba(22,22,22,.9) 75%,rgba(22,22,22,.8) 100%);
}
.mar{
    margin: 0px 100px;
}
.projects-section{
    padding: 10rem 0;
}
.bg-light{
    background-color: #f8f9fa!important;
}
section{
    display: block;
}
.align-items-center{
    align-items: center!important;
}
.no-gutters{
    margin-left: 0;
    margin-right: 0;
}
.row1{
    background-color: #212529;
    display: flex;
    flex-wrap: wrap;
}
.projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #64a19d;
    border-left-width: 0.5rem;
    border-left-style: solid;
    border-left-color: rgb(100, 161, 157);
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.img{
    border-style: none;
    vertical-align: middle;
}
.imgcol{
    padding-right: 0px;
}
.texcol{
    padding-left: 0px;
}
.col-lg-6{
    flex: 0 0 50%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;
}
.projects-section .project-text{
    padding: 5rem;
    font-size: 90%;
}
.text-lg-left{
    text-align: left!important;
}
.w-100{
    width: 100%!important;
}
    .projects-section .project-text hr {
        background-color: #64a19d;
     
        border-width: .25rem;
        width: 30%;
    }
.signup-section{
    background: linear-gradient(to bottom,rgba(22,22,22,.1) 0,rgba(22,22,22,.5) 75%,#161616 100%),url(../image/bg-signup.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
    min-height: 30rem;
}
.col-md-10{
    margin-top: 200px;
}
.signup-section .form-inline input {
    box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1)!important;
    padding: 1.25rem 2rem;
    height: auto;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;}
    .btn-primary {
            background-color: #64a19d;
        }
    
    .btn {
            box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1)!important;
            padding: 1.25rem 2rem;
            font-family: 'Varela Round';
            font-size: 80%;
            text-transform: uppercase;
            letter-spacing: .15rem;
            border: 0;
        }
        .bg-black {
            background-color: #161616!important;
        }
        .contact-section .card {
            border: 0;
            border-bottom: .25rem solid #64a19d;
        }
        
.contact-section .card hr {
    border-color: #64a19d;
    border-width: .25rem;
    width: 3rem;
}
.contact-section .card h4 {
    font-size: .8rem;
    font-family: 'Varela Round';
    text-transform: uppercase;
    letter-spacing: .15rem;
}
.contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: rgba(255,255,255,.1);
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255,255,255,.3);
}
.social a:hover{
    opacity: 0.5;
}